<% include ../partials/header %>
<header>
      <h1>Post New Workout</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>

    <!-- checkout the route on next line to make sure it is correct -->

    <form action="/" method="POST">
      
    <!-- <select name="authorId">
        <%for (let i = 0; i < authors.length; i++) { %>

           <option value="<%=authors[i]._id%>"><%=authors[i].name%></option>

        <% } %>  -->

      </select><br/>
      Workout Type:<input type="text" name="workout" /><br/>
      Variation: <input type="text" name="Variation" /><br/>
      Reps: <input type="text" name="Reps" /><br/>
      Weight: <input type="text" name="weight" /><br/>
      <button type="submit">Post Workout</button>
    </form>
    </main>

<% include ../partials/footer %>