<% include ../partials/header %>
<header>
      <h1>Post New Workout</h1>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>

    <!-- checkout the route on next line to make sure it is correct -->

    <form action="/workouts" method="POST">
      
    <select name="userId"></select>
      Workout Type:<input type="text" name="workout" /><br/>
      Variation: <input type="text" name="variation" /><br/>
      Reps: <input type="text" name="reps" /><br/>
      Weight: <input type="text" name="weight" /><br/>
      <button type="submit">Post Workout</button>
    </form>
    </main>

<% include ../partials/footer %>