<% include ../partials/header %>
<header>
home/index page
</header>

<main>
<ul>
<% for(let i = 0; i < users.length; i++){%>

    <li>
    <a href="/users/<%=users[i]._id%>">
    <%=users[i].username%>
    </li>
<%}%>
</ul>
</main>
<% include ../partials/footer %>
