<% include ../partials/header %>
<header>
<h1>show/ profile page for <%= user.username%></h1>

</header>


<!--delete button needs to be fixed -->
<form action="users/<%=users[i]._id%>?_method=DELETE" method="POST">
<a href = "/"><button type="submit">Delete Profile</button></a>
</form>
<!--================================================= -->

<% include ../partials/footer %>